<!DOCTYPE html>
<html>
  <head>
    <title>KadoHp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <li>
      <%= link_to root_path do %>
        ホーム
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        角部屋
      <% end %>
    </li>
    <li>
      <%= link_to equipments_path do %>
        設備
      <% end %>
    </li>
    <li>
      <%= link_to genres_path do %>
        蔵書
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        使い方・ルール
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        裏部屋
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        オープンチャット
      <% end %>
    </li>
      <% if admin_signed_in? %>
      <p>管理人ページ</p>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
