<!DOCTYPE html>
<html>
  <head>
    <title>KadoHp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
      <p>管理人ページ</p>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <p>学生ページ</p>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
